@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;

}

.item{
    padding: 1rem;
    }
    nav a{
        color: var(--blanco);
        text-decoration: none;
    }
    .logo img{
        height: 3rem;
        color: #FFFEFC;
    }

    .item1{
        background-color: #0B3860;
        height: 2.5rem;
        width: 15rem;
        color: #FFFEFC;
        text-align: center;
        border-color: #0B3860;
    }

.caja{
    position: relative;
    display: inline-block;
}

.banner{
    height: 40rem;
    width: 85rem;
}

.texto{
    background-color: #00000059;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
    position: absolute;
    top: 35rem;
}

.caja2{
    display: flex;
    height: 25rem;
}

.parrafo{
    text-align: left;
    margin: 05rem;
    font-size: 1.2em;
}

.cajaimg{
    margin: 05rem;
}

.imgH{
    height: 15rem;
    margin-right: 05rem;
}

.imgF{
    height: 30rem;
    width: 85rem;
}

.contenedor{
    position: relative;
    display: inline-block;

}

.cajafeatures{
    background-image: url(../img/bg-features.png);
    width: 85rem;
    height: 12rem;
    padding: 0.5rem;
}

#features{
        color: #ffffff;
        padding-top: 1rem;
    }
   
    .features-title{
        background-color: rgba(0,0,0,0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
    }

    .features-description{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .feature{
        width: 25%;
        min-width: 180px;
        max-width: 230px;
        margin: 0.8rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
     
    .feature i{
        font-size: 2.2em;
        margin-bottom: 1.5rem;
    }

    .feature-blue{
        background-color: #00325eae;
    }
     
    .feature-black{
        background-color: rgba(0,0,0,0.59);
    }


    .titulo{
        text-align: center;
        margin: 1.5rem;
    }

    .imgM{
        margin-left: 2.3rem;
    }

    .mapa{
        width: 80rem;
        height: 25rem;
    }
    
    .textoM{
        text-align: center;
        margin: 0.5rem;
    }

    hr{
        background-color: #88a8ec;
        width: 45rem;
        margin-left: 20rem;
        height: 0.1em;
    }

    .tituloUsuarios{
        height: 10rem;
        width: 85rem;
        background-color: #000;
        color: #FFFEFC;
        text-align: center;
    }

    .persona1{
        margin: 1.5rem;
        border-radius: 0.5rem;
        background-color: #0B3860;
        width: 20rem;
        height: 15rem;
        align-self: flex-start;
        display: inline-block;
        position: relative;
        margin-left: 10rem;
    }

    .imgP1{
        border-radius: 1.5rem;
        margin: 0.5rem;
    }

    .nombre1{
        text-align: left;
        top: 0%;
    }

    .estrellas{
        width: 5rem;
        height: 1.5rem;
    }

    .persona2{
        margin: 1.5rem;
        border-radius: 0.5rem;
        background-color: #0B3860;
        width: 20rem;
        height: 15rem;
        align-content: center;
        display: inline-block;
        position: relative;
        margin-left: 0.9rem;

    }

    .persona3{
        margin: 1.5rem;
        border-radius: 0.5rem;
        background-color: #0B3860;
        width: 20rem;
        height: 15rem;
        align-content: flex-end;
        display: inline-block;
        position: relative;
        margin-left: 0.9rem;
    }



    footer{
        background-color: #262830;
        display: flex;
        color: #ffffff;
        height: 10rem;
        padding: 1.5rem;
    }

    .redes{
        text-align: left;
        margin-top: 2rem;
        margin-left: 1em;

    }

    .direccion{
    text-align: center;
    margin-left: 5rem;
    margin-top: 2rem;
}

    .Politicas{
    text-align: right;
    margin-left: 6rem;
    margin-top: 2rem;
}